body{
    background-image: url(pngtree-hand-drawn-cartoon-minimalist-children-pattern-colorful-style-background-picture-image_1301526.jpg);
    text-align: center;

}


h1{
    font-family: Arial, Helvetica, sans-serif;
    
}

.square{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 2px solid black;
    display: inline-block;
    
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "\1F436";
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}
.x{
    position: relative;
}

.x:after{
    position: absolute;
    content: "\1F431";
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}